DATA TYPES

In [1]:
str = 'John'
str2 = "Doe's"
print(str)
print(str2)

list = [1,2,3]
print (list)

map = {"first": "Bob", "last": "Dole", "age": 34}
print(map)

set_example = {1,2,3,4,5,5} #second 5 is not added
print(set_example)

tuple = (1,2) #immutable list, mainly used for scenarios like -> weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")
print(tuple)
a, b = tuple # you can unpack tuple directly to multiple variables when assigned or as a method return type
print(a)#1
print(b)#2

isMarried = True
isLegalAgeToDrink = False

print(isMarried)

#to check the type of the variable use type()

print(type(isMarried))
print(type(tuple))
print(type(set_example))
print(type(list))
print(type(map))
print(type(str))

John
Doe's
[1, 2, 3]
{'first': 'Bob', 'last': 'Dole', 'age': 34}
{1, 2, 3, 4, 5}
(1, 2)
1
2
True
<class 'bool'>
<class 'tuple'>
<class 'set'>
<class 'list'>
<class 'dict'>
<class 'str'>

OPERATORS

In [2]:
print (10 % 3)

1

In [3]:
num = 44
if num % 2 == 0:
 print('even')

even

In [4]:
print(2**10) #exponent **

1024

STRINGS

In [5]:
text = "Hello World!"

print( len (text))  #len() is universal, works for strings, lists,sets, maps, etc

12

In [6]:
#index can be negative in strings

print(text[0])
print(text[11])
#print(text[12]) #IndexError: string index out of range

print(text[-1]) #len(text)-1
print(text[-12])# first letter
#print(text[-13])# #IndexError: string index out of range


#slicing syntax [start:stop:step] # omitting any of them means default value

print(text[0:3]) #Hel
print(text[:3]) #Hel
print(text[6:12]) #World!
print(text[6:]) #World!
print(text[0:12:1]) #Hello World!
print(text[0:12:2]) #HloWrd
print(text[::-1]) #!dlroW olleH -> reverse

H
!
!
H
Hel
Hel
World!
World!
Hello World!
HloWrd
!dlroW olleH

In [7]:
#String can be "multiplied" in Python
print('hello'*5)

hellohellohellohellohello

In [8]:
word = 'cool herc'
word.capitalize()

'Cool herc'

In [9]:
word.casefold()

'cool herc'

In [10]:
word.count('o')

2

In [11]:
word.title()

'Cool Herc'

In [12]:
word.split()

['cool', 'herc']

In [13]:
word.replace('o', 'u')

'cuul herc'

In [14]:
word.replace('o', '')

'cl herc'

In [15]:
word.join(['what', 'up'])

'whatcool hercup'

In [16]:
' '.join(['what', 'up'])

'what up'

FORMATTING STRINGS

In [17]:
sentence = 'This is a cool {}'
sentence.format('STORY')

'This is a cool STORY'

In [18]:
'Sentence: {} {} {}'.format('fox', 'brown', 'quick')

'Sentence: fox brown quick'

In [19]:
'Sentence: {0} {1} {2}'.format('fox', 'brown', 'quick')

'Sentence: fox brown quick'

In [20]:
'Sentence: {2} {1} {0}'.format('fox', 'brown', 'quick')

'Sentence: quick brown fox'

In [21]:
"SELECT {column} FROM {table} LIMIT {limit}".format(column = 'first_name', table='employees', limit='3')

'SELECT first_name FROM employees LIMIT 3'

FORMATTING FLOATS

formatting the float output follows the syntax {value : width.precision f} -> {val:1.2f}

In [22]:
tip = 129.79 * 0.25

In [23]:
print ('The tip amount is {}'.format(tip))

The tip amount is 32.4475

In [24]:
print ('The tip amount is {val:1.2f}'.format(val=tip))

The tip amount is 32.45

In [25]:
# will be rounded up

In [26]:
#F-Strings are introduced in Python 3.6

#old way 
word = 'STORY'
'This is a cool {}'.format(word)

'This is a cool STORY'

In [27]:
#new way
word = 'STORY'
print(f'This is a cool {word}')

This is a cool STORY

In [28]:
# same as
print('This is a cool ' + word)

This is a cool STORY

LISTS

In [29]:
my_list = [1,2,3]
another_list = [1, "dsd", 23.5, [1,2]] # can have any type
my_list[0]

1

In [30]:
new_list = my_list + another_list #can be concatenated
new_list

[1, 2, 3, 1, 'dsd', 23.5, [1, 2]]

In [31]:
new_list.append(5)
new_list

[1, 2, 3, 1, 'dsd', 23.5, [1, 2], 5]

In [32]:
new_list

[1, 2, 3, 1, 'dsd', 23.5, [1, 2], 5]

In [33]:
new_list.pop()
new_list

[1, 2, 3, 1, 'dsd', 23.5, [1, 2]]

In [34]:
new_list.pop(0)

1

In [35]:
new_list

[2, 3, 1, 'dsd', 23.5, [1, 2]]

In [36]:
num_list = [3,4,2,4,1]
num_list.sort()

In [37]:
num_list

[1, 2, 3, 4, 4]

In [38]:
num_list.reverse()
num_list

[4, 4, 3, 2, 1]

In [39]:
num_list[::-1] #reverse the list, indexing works just like strings

[1, 2, 3, 4, 4]

DICTIONARY (MAPS)

In [40]:
my_dict = {1:'a', 2:'b', 3:'c'}
my_dict

{1: 'a', 2: 'b', 3: 'c'}

In [41]:
my_dict.get(2) #lookup

'b'

In [42]:
my_dict[2] #lookup

'b'

In [43]:
my_dict[5] #results in KeyError: 5

KeyError: 5

In [44]:
my_dict[4] = 'd'  #add  a new pair
my_dict

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [45]:
my_dict[4] = 'x' #overwrites the previous value
my_dict

{1: 'a', 2: 'b', 3: 'c', 4: 'x'}

In [46]:
d  = {1:'a', 2:'b'}
print(d.values()) #values
print(d.keys()) # keyset
print(d.items()) #entries
print(d.fromkeys([1,2,3], '99')) #creates a new map from the list as keys and given value

dict_values(['a', 'b'])
dict_keys([1, 2])
dict_items([(1, 'a'), (2, 'b')])
{1: '99', 2: '99', 3: '99'}

TUPLES

In [47]:
tup = (1,2,3)
type(tup)

tuple

In [48]:
tup[1]

2

In [49]:
tup[-1]

3

In [50]:
lis = [1,2,3]
lis[1] = 23;

In [51]:
lis

[1, 23, 3]

In [53]:
tup[0] = 55

TypeError: 'tuple' object does not support item assignment

In [56]:
new_one = set()
print(new_one)
new_one.add(1)
new_one.add(2)
new_one.add(3)
new_one
new_one.add(3)
new_one

set()

{1, 2, 3}

In [58]:
from_list_to_set = set([1,2,3,4,4,2,1,2,3,4])

In [59]:
from_list_to_set

{1, 2, 3, 4}